<div class="container">
	<article class="post">
		<div class="singleTitle">{{title}}</div><div class="singleDate">{{username}} 发表于： <time>{{lundate date}}</time></div>
		<div class="singlePost">
			{{{content}}}
		</div>

		<div class="footDate">{{date}}</div>
	</article>
	<button id="goBackToList">Back</button>
</div>